In [2]:
import scipy.stats as st

In [3]:
import statsmodels.stats.api as stm

In [5]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('experiment.csv')

In [7]:
df.head()

   Unnamed: 0  control  test
0           1        0     0
1           2        1     1
2           3        0     0
3           4        0     0
4           5        0     0

In [12]:
test = df['test'].sum()

In [13]:
control = df['control'].sum()

In [14]:
n = df.shape[0]

In [15]:
p = test / n
p

0.577

In [16]:
se = np.sqrt(p * (1 - p) / n)
se

0.015622771841129857

In [17]:
st.norm.interval(0.9, loc=p, scale = se)

(0.5513028270740822, 0.6026971729259177)

In [18]:
p1 = control /n 
p1

0.464

In [19]:
se1 = np.sqrt(p1 * (1 - p1) / n)
se1

0.015770351930125086

In [20]:
st.norm.interval(0.9, loc=p1, scale = se1)

(0.4380600794294326, 0.4899399205705674)