In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
df = pd.read_csv("parfume.csv")

In [3]:
df.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
2           3  3   3   22  control     2
3           4  4   4   18  control     1
4           5  5   5   23  control     0

In [4]:
df1 = df[df['vote']<2]

In [5]:
df1.head()

   Unnamed: 0  X  id  age    group  vote
0           1  1   1   21  control     1
1           2  2   2   20  control     1
3           4  4   4   18  control     1
4           5  5   5   23  control     0
5           6  6   6   18  control     1

In [ ]:
p_old = df['OLD'].mean() 
p_new = df['NEW'].mean()

In [6]:
test = df1[df1['group']=='test']['vote']

In [10]:
control = df1[df1['group']=='control']['vote']

In [11]:
from statsmodels.stats.proportion import proportions_ztest

In [14]:
test1 = test.sum()
control1 = control.sum()
n = df1.shape[0]

In [19]:
count = np.array([control1, test1])
nobs = np.array([n, n])
p_value = proportions_ztest(count, nobs) [1]

In [20]:
p_value  # p_value близко к нулю, отвергаем нулевую гипотезу, новый ролик лучше старого

0.00025013088541310475