# Функции
### Домашнее задание

#### 1.
Почему возникла ошибка? Объясните и исправьте.

In [2]:
def factorial(n):
    if n == 1:
        return 1
    x = factorial(n = n-1)
    return n *x
        
print(factorial(5))

120

**Объяснение:** Потому что переменная f определена внутри функции.
<br><br>

#### 2.
Почему переменная S после запуска функции сохранила значение ноль?

In [ ]:
S = 0
def sum(n, m):
    S = n + m
    return S

print(sum(3, 4))
print(S)

7
0

**Объяснение:** переменная s - global
<br><br>

#### 3.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере с `res`.

In [21]:
def mult(q,w,e,r,t,y):
    return q + w + e + r + t + y
res = mult(1,2,3,4,5,6)
print(res)

21

**Объяснение:** После * нужно, чтобы параметры указывались явно, нельзя ставить позиционные параметры

#### 4.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [25]:
def power(a, s, *, d):
    res = a ** s ** d
    print(res)
    
power(2, 2, d=3)

256

#### 5.
Почему возникла ошибка? Объясните и исправьте, чтобы функция могла работать с данными на входе в примере.

In [14]:
def mult2(*args):
    res = 1
    for i in List:
        res += i
    return res

List = [1, 2, 3, 4, 5, 6, 7]

mult2(*List)

29

#### 6.
Почему возникла ошибка? Объясните и исправьте.

In [2]:
def some_function(a, b, *args, **kwargs,):
    pass

**Объяснение:** 
<br><br> нельзя ставить позиционные параметры после именованных

#### 7.
Почему не был создан новый список при повторном запуске функции? Объясните и исправьте.

In [4]:
def to_buy(*new_items, shopping_list = None):
    if shopping_list is None:
        shopping_list = []
    for i in new_items:
        shopping_list.append(i)
    return shopping_list

monday = to_buy('яблоки', 'молоко', 'хлеб')
print(monday)

tuesday = to_buy('груши', 'йогурт', 'мясо')
print(tuesday)

['яблоки', 'молоко', 'хлеб']
['груши', 'йогурт', 'мясо']

**Объяснение:** Программа сохраняет значения в списке. Не следует в качесте параметра по умолчанию создавать изменяемый объект. 
<br><br>

#### 8.
Измените данную функцию так, чтобы она распечатывала названия продуктов из словаря в примере.

In [10]:
def print_all(**kwargs):
    for v in kwargs.values():
        print(v)

food = dict(apples='яблоки', milk='молоко', bread='хлеб', pears ='груши', youghurt='йогурт', meat='мясо')
    
print_all(**food)

яблоки
молоко
хлеб
груши
йогурт
мясо

#### 9.
Программисты договорились, что переменные такого рода являются.. *(вопрос из лекции)*

In [ ]:
TOKEN = константа...

**Ответ:** 
<br>
<br>

#### 10.
Напишите функцию, которая с помощью рекурсии считает сумму последовательности с шагом m. В качестве аргументов подаются целые положительные числа n (последний элемент последовательности) и m (шаг последовательности). Считается, что все члены последовательности являются целыми положительными числами.

Пример:

```
sum_of_seq(5, 1)
15
 
sum_of_seq(5, 9)
5

sum_of_seq(8, 2)
20
```

In [52]:
### YOUR CODE HERE ###
def sum_of_seq(n,m):
    if n>=1:
        return n+sum_of_seq(n-m,m)
    else:
        return 0
print(sum_of_seq(55,3))

532

#### 11.
Напишите функцию, которая возводит число в положительную степень с помощью рекурсии. В качестве аргументов подаются целые положительные числа n (число) и m (степень).

In [33]:
### YOUR CODE HERE ###
def mult_of_seq(n, m):
    if m ==0:
        return 1
    if n<= 0 or m<0:
        print ("Введите другое число")
    else:
        return n*(mult_of_seq(n,m-1))
print(mult_of_seq(3,5))

3

#### 12.
Напишите функцию, которая возводит число в отрицательную степень число с помощью рекурсии. В качестве аргументов подаются целое положительное число n (число) и целое отрицательное число m (степень).

In [16]:
### YOUR CODE HERE ###

def mult_of_seq(n, m):
    if m ==0:
        return 1
    elif n <= 0 and m>0:
        return 'Введите другое число'
    else:
        return mult_of_seq(n,m+1)/n
    
print(mult_of_seq(4,-5))

0.0009765625

#### 13.

Напишите функцию, которая находит число Фиббоначи по его номеру. В качестве аргумента подается целое положительное число n (число).

In [70]:
### YOUR CODE HERE ###
def number(n):
    if n in (1, 2):
        return 1
    return  number(n - 1) + number(n - 2)
 
 
print(number(5))

5